.homeDesign {
    background-color: #14bad0;
    min-height: 90vh;
  }
  .container fluid {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

  }
.libro.col{
  display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
  }
 /* .productos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  max-width: 20rem;

  border: 2px solid black;
  border-radius: 1em;
  background-color: rgb(239, 239, 239);

  box-shadow: rgba(0, 0, 0) 3px 4px;

  transition: 0.15s linear;
  
 }  */
