

.containerRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .register-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .register-form {
    width: 100%;
    font-size: 14px;
   
  }
  
  .register-form-group {
    margin-bottom: 15px;
  }
  
  .register-error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .register-submit-button {
    width: 100%;
    margin-top: 20px;
  }
  
  
  