.registerDesign{

    background-color: #e2f5ff;
    width: 200vw;
    height: 90vh;
    
}

.inputsBoxRegister{
    background-color: rgb(254, 245, 245);
    height: 80vh;
    width: 94em;    
    

    display: flex;
    gap: 0.5em;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    box-shadow: rgba(0, 0, 0) 8px 8px;
    border-radius: 15px;
    border: 2px solid;
}


.errorInput{
  
    color: red;
    font-style: italic;
    font-weight: bold;
}

.inputsBoxRegister::before{

    /* content: url("../../assets/buttons.png"); */
    display: flex;
    justify-content: flex-end;
    padding: 0.4em 0.5em 0 ;
    height: 7vh;
    width: 105%;
    border-bottom: 1px solid black;

}

.inputRegDesign{
    border-radius: 50px;
    height: 2em;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 0 0 1em;
}

#inputRegDesign:focus{
    border: none;
    box-shadow: none;
}

.buttonDesignRegister{
    background-color: white;
    height: 5vh;
    width: 20vh;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0) 2px 3px;
    margin-bottom: 2em;
}

.buttonDesignRegister:hover{
    box-shadow: none;
    cursor: pointer;
    transition: 0.15s linear;


}
    
    
    
    .zoom:hover{
        transform: scale(1.7);
        transition: .7s;
    } 
    

/*     
    @media(max-width: 500px){
    
        .inputsBoxRegister{
            width: 25vw;
        }
    
    }
    
    @media(max-width: 360px){
        .inputsBoxRegister{
            margin: 4em; 
            height: 100%;
            
        }
        .registerDesign{
            height: 110vh;
        }
       
    }
     */

    