.row{
    display: flex;
    justify-content: baseline;
}

.formDesign {
    width: 15vw;
    border-radius: 3em;
    background-color: rgb(137, 174, 187);
    border: 1px solid black;
    padding: 0.1em 0.5em;
    box-shadow: rgba(0, 0, 0) 2px 3px;
  }
  
  #inputDesign{
      border: 1px solid rgb(111, 121, 125);
    
  }
  
  #inputDesign:focus{
      border: 3px solid rgb(55, 84, 100) !important;
      box-shadow: none;
  }
  .linkDesign {
    font-weight: bold;
  
    margin-right: 3em;
    margin-bottom: 1.5em;
    cursor: pointer;
  }
  
  #buttonDesign{
      border: none;
      background-color: transparent;
  }