.cardDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    margin: 1em;
  
    max-width: 20rem;
  
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgb(239, 239, 239);
  
    box-shadow: rgba(0, 0, 0) 3px 4px;
  
    transition: 0.15s linear;
    
  }
  
  .imageDesign{
    scale: 85%;
    border-radius: 0.75em;
    
  }
  
  .text {
    margin: -1.5em 0 0 1em;
    font-size: 90%;
    overflow: hidden;
  }
  
  .cardDesign::before {
   display: flex;
    justify-content: flex-end;
    padding: 0.2em 0.5em 0 0;
    height: 4vh;
    width: 100%;
    border-bottom: 1px solid black;
  }
  
  .cardDesign:hover {
    box-shadow: none;
    cursor: pointer;
    transform: scale(1.05);
    background-color: #a2d7e8;
  
  }