/* ProfileUpdate.css */
.containerUpt {
  padding: 20px;
  width: 360px;
}

.updateProfile {
  margin-bottom: 20px;
}

.inputLogin {
  width: 100%;
}

.divWellcome {
  margin: 20px 0;
}

.buttonUpdate {
  text-align: center;
  margin-top: 20px;
}

